<div id="newsletter-wrapper">
    <div id="newsletter-inner-wrapper">
        <h2>Erfahre mehr über Firefox</h2>

        <p>
            Hol dir den Firefox Newsletter und sorge mit uns zusammen dafür, dass das Web frei und offen für alle bleibt.
        </p>

        <div class="newsletter js-collapse">
            <form id="newsletter_form" name="newsletter_form" action="https://www.mozilla.org/en-US/newsletter/" method="post">
                <input type="hidden" id="fmt" name="fmt" value="H">
                <input type="hidden" id="id_lang" name="lang" value="de">
                <input id="id_newsletters" maxlength="100" name="newsletters" value="mozilla-and-you" type="hidden">

                <div id="newsletter_errors" class="newsletter_errors"></div>

                <div id="newsletter_email" class="form_group">
                    <label for="email" class="form_label">E-mail</label> <input type="email" id="email" name="email" class="form_input" required="" placeholder="you@example.com" size="30">
                </div>

                <div id="newsletter_privacy" class="form_group form_group-agree">
                    <input type="checkbox" id="privacy" name="privacy" required=""> <label for="privacy">Ich bin einverstanden, dass Mozilla meine Daten wie in <a href="https://www.mozilla.org/privacy/">diesem Datenschutzhinweis</a> angegeben verwendet.</label>
                </div>

                <div id="newsletter_submit">
                    <button type="submit" class="button">Jetzt anmelden</button> <em class="newsletter_promise">Wir schicken dir nur Informationen mit Bezug zu Mozilla.</em>
                </div>
            </form>

            <div id="newsletter_thanks" class="newsletter_thanks">
                <h2>Vielen Dank!</h2>

                <p>
                    Wenn Sie bisher noch kein Abonnement eines Mozilla-Newsletters bestätigt haben, müssen Sie dies vielleicht jetzt tun. Sehen Sie bitte in Ihrem Posteingang oder Ihrem Spam-Filter nach einer E-Mail von uns.
                </p>
            </div>
        </div><!--/.newsletter-->
    </div><!--/#newsletter-inner-wrapper-->
</div><!--/#newsletter-wrapper-->
