<ul class="subscribe-links" data-episode-title="{{/* .title | default "" */}}" id="{{/* .subscribeLinksID | default "" */}}">
    <li>
        <a href="https://podcasts.apple.com/de/podcast/enter-a-web/id1459862718?ct=mozilla_{{ .itunesTracking | default "homepage" }}" rel="external" data-service="iTunes" class="subscribe-link-apple"><img src="/images/subscribe-badge-apple.svg" alt="Subscribe on Apple Podcasts"></a>
    </li>
    <li>
        <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9oZWFydGhpcy5hdC9hd2ViL3BvZGNhc3Qv" rel="external" data-service="Google" class="subscribe-link-google"><img src="/images/subscribe-badge-google.svg" alt="Subscribe on Google Podcasts"></a>
    </li>
    <li>
        <a href="https://open.spotify.com/episode/7rRoJbse0t3IpRfdejBSG9?si=T45nS--qTwmYwoEZXvxTsw" rel="external" data-service="Spotify" class="subscribe-link-spotify"><img src="/images/subscribe-badge-spotify.svg" alt="Subscribe on Spotify"></a>
    </li>
    <li>
        <a href="https://soundcloud.com/aweb-podcast" rel="external" data-service="SoundCloud" class="subscribe-link-soundcloud"><img src="/images/subscribe-badge-soundcloud.png" alt="Subscribe on SoundCloud"></a>
    </li>
</ul>
