<ul class="subscribe-links" data-episode-title="{{/* .title | default "" */}}" id="{{/* .subscribeLinksID | default "" */}}">
    <li>
        <a href="TKTK" rel="external" data-service="Google" class="subscribe-link-google"><img src="/images/subscribe-badge-google.svg" alt="Subscribe on Google Podcasts"></a>
    </li>
    <li>
        <a href="TKTK{{ .itunesTracking | default "homepage" }}" rel="external" data-service="iTunes" class="subscribe-link-apple"><img src="/images/subscribe-badge-apple.svg" alt="Subscribe on Apple Podcasts"></a>
    </li>
    <li>
        <a href="TKTK" rel="external" data-service="Spotify" class="subscribe-link-spotify"><img src="/images/subscribe-badge-spotify.svg" alt="Subscribe on Spotify"></a>
    </li>
</ul>
