{{ define "main" }}
    <section id="intro">
        <div class="content">
            <div id="intro-main">
                <div id="site-logo">
                    [a:web]
                </div>

                <div id="site-title">
                    <h1>Der einzige Podcast übers Web, den du brauchst</h1>
                </div>

                <div id="site-intro">
                    <p>
                        In dem unabhängigen Podcast [a:web] nehmen die
                        Moderatorinnen Anja und Alice euch mit auf eine
                        spannende Entdeckungsreise durch das Internet.
                        Verständlich für alle und nie langweilig.
                    </p>

                    <p>
                        [a:web] ist ein Podcast von Firefox, dem Browser der auf
                        deiner Seite ist. Firefox fights for you!
                    </p>
                </div>

                <section class="subscribe-links-wrapper">
                    <h4>Abonnieren:</h4>

                    {{ partial "subscribe-links.html" (dict "subscribeLinksID" "subscribe-links-primary") }}
                </section>
            </div>
        </div>
    </section>

    <div class="content">
        <h2>Uh-oh!</h2>

        <p>
            We can't find the page you're looking for.
        </p>
    </div>

    <div class="content">
        {{ partial "newsletter.html" . }}
    </div>
{{ end }}
