{{ define "main" }}
    <section id="intro">
        <div class="content">
            <div id="intro-main">
                <div id="site-logo">
                    [a:web]
                </div>

                <div id="site-title">
                    <h1>Der einzige Podcast übers Web, den du brauchst</h1>
                </div>

                <div id="site-intro">
                    <p>
                        In dem unabhängigen Podcast [a:web] nehmen die
                        Moderatorinnen Anja und Alice euch mit auf eine
                        spannende Entdeckungsreise durch das Internet.
                        Verständlich für alle und nie langweilig.
                    </p>

                    <p>
                        [a:web] ist ein Podcast von Firefox, dem Browser der auf
                        deiner Seite ist. Firefox fights for you!
                    </p>
                </div>

                <section class="subscribe-links-wrapper">
                    <h4>Abonnieren:</h4>
                    {{ partial "subscribe-links.html" (dict "subscribeLinksID" "subscribe-links-primary") }}
                </section>
            </div>
        </div>
    </section>

    <section id="episodes">
        <div class="content">
            <ul id="episode-list">
            {{- range .Data.Pages -}}
                {{ if eq .Type "episodes" }}
                    {{ if eq (string .Params.season) "1" }}
                    <li class="episode-list-item">
                        {{/* The dot context below passes the entire episode object */}}
                        {{ partial "episode-module.html" . }}
                    </li>
                    {{ end }}
                {{ end }}
            {{- end -}}
            </ul>
        </div>
    </section>

    <div class="content">
        {{ partial "newsletter.html" . }}
    </div>
    <section id="more">
        <div class="content">
            <h3>Mehr über [a:web]</h3>
            <p>
                <a href="https://blog.mozilla.org/internetcitizen/category/IRL/">Ein Tech-Podcast für Nicht-Techies: [a:web] von Firefox startet im Mai 2019</a>
            </p>
        </div>
    </section>
{{ end }}
